* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(27, 27, 27);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  padding: 0.3rem 0.6rem;
  margin: 0.3rem;
  font-size: 1rem;
}
